.menu{
    background-color: #252623;
    padding:20px;
}


.header{
    background-image: url(./images/header.jpg);
    background-color: #252623;
    width: 100%; 
    padding:300px;
    background-size: contain;
    background-repeat:no-repeat;
}


h3{    
    margin-top: 100px;
    margin-left: 100px; 
    margin-bottom: 20px;   
}
button{
    
    margin-left:-70px;
    float:right;
}
/* .carousel-inner {
    width:100%;
    height:500px;
} */
.carousel-caption{
    position: absolute;
    margin-bottom: 200px;
}
h1{
    font-size: 70px;
}
.btn{
    margin: 20px;
}
.caption{
    margin-left: 100px;
    font-family: 'Montserrat'
}
.nav-link{
    color: white;
}
.icon_materi img{
    margin-left:100px;
    margin-right: 10px;
    width: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}
strong{
    font-family: 'Montserrat';
}
.course .card{
    width: 30% !important;
    display: inline-flex !important;
}

.course .card-text {
    min-height: 120px;
}
.sub {
 height: 300px;
 justify-content: center;   
}