@layout('admin.template')

@section('content')
  {{{ konten.konten }}}
@endsection

@section('js')
    @super
  {{{ konten.js }}}
@endsection

@section('css')
    @super
  {{{ konten.css }}}
@endsection